<div id="login-container">
    <h1 id="title">{{title}}</h1>
    <form id="form">
        <div class="form-field">
            <label for="email">Email</label>
            <input type="text" id="form-email" placeholder="Enter Email">
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" id="form-password" placeholder="Enter Password">
        </div>       
        <button id="form-button">Login</button>
    </form>
    
</div>