<div id="navbar">
    <img src="/images/Logo-small.png" alt="logo" id="logo">
    <div id="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="links">
        <a href="/">Browse</a>
        <a href="/b/search">Search</a>
        <a href="" id="user">Account</a>
        <a href="">Shopping Cart</a>
    </div>
</div>