<div id="navbar">
    <img src="/images/Logo-small.png" alt="logo" id="logo">
    <div id="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="links" class="links">
        <a href="/">Browse</a>
        <a href="/b/search">Search</a>
        <a href="/cart"><img src="/images/cart.svg" class="svg-icon"></a>
        <a href="" id="user">Account</a>
    </div>
</div>
<div id="user-modal">
    <div id="user-modal-content">
        <div id="user-modal-title">
            <span class="close">&times;</span>
        </div>
        <div id="user-modal-buttons">
            <button id="login-form-button" class="modal-button selected">Login</button>
            <button id="register-form-button" class="modal-button">Register</button>
        </div>
        <div id="user-modal-forms">
            {{>loginForm}}
            {{>registerForm}}
        </div>
    </div>
</div>