<div id="navbar">
    <img src="/images/Logo-small.png" alt="logo" id="logo">
    <div id="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="links" class="links">
        <div class="link" id="link-browse">Browse</div>
        <div class="link" id="link-search">Search</div>
        <div class="link" id="link-cart"><img src="/images/cart.svg" class="svg-icon"></div>
        <div class="link" id="link-user">Account</div>
    </div>
</div>
<div id="user-modal-1">
    <div class="user-modal-content">
        <div class="user-modal-title">
            <span class="close">&times;</span>
        </div>
        <div class="user-modal-buttons">
            <button id="login-form-button" class="modal-button selected">Login</button>
            <button id="register-form-button" class="modal-button">Register</button>
        </div>
        <div class="modal-forms-container">
            {{>loginForm}}
            {{>registerForm}}
        </div>
    </div>
</div>
<div id="user-modal-2">
    <div class="user-modal-content">
        <div class="user-modal-title">
            <span class="close">&times;</span>
        </div>
        <div class="user-modal-buttons">
            <button class="modal-button selected">Edit</button>
            <button class="modal-button">Logout</button>
        </div>
        <div class="modal-forms-container">
            {{>editUserForm}}
        </div>
    </div>
</div>