<div id="navbar">
    <img src="/images/Logo-small.png" alt="logo" id="logo">
    <div id="links">
        <a href="">Browse</a>
        <a href="">Search</a>
        <a href="">Account</a>
        <a href="">Shopping Cart</a>
    </div>
    <div id="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div id="hamburger-links">
        <a href="">Browse</a>
        <a href="">Search</a>
        <a href="">Account</a>
        <a href="">Shopping Cart</a>
</div> 