<form id="login-form" class="form">
    <div class="form-field">
        <label for="email">Email</label>
        <input type="text" name="email" id="login-email">
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="login-password">
    </div>
    <button id="login-submit" class="submit-button">Login</button>
    <div id="login-form-response"></div>
</form>