<div id="login-container">
    <h1 id="title">{{title}}</h1>
    <form id="form">
        <label for="email">Email</label>
        <input type="text" id="form-email" placeholder="Enter Email">
        <label for="password">Password</label>
        <input type="text" id="form-password" placeholder="Enter Password">
        <button id="form-button">Login</button>
    </form>
    
</div>