<div id="search-form-container">
        <form id="search-form">
            <div id="search-form-radios">
                <input type="radio" name="search-by" value="book" checked="checked">
                <label for="book">Book</label>
                <input type="radio" name="search-by" value="author">
                <label for="author">Author</label>
            </div>
            <div id="search-form-text">
                <label for="text">Search:</label>
                <input type="text" name="text" id="search-text" required>
                <input type="submit" id="search-form-button">
            </div>
        </form>
    </div>
    <div id="search-results"></div>