*{
    margin:0;
}

body{
    height:100vh;
}

#header{
    background-color: rgb(40, 141, 40);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#logout{
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor:pointer;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.button{
    width:150px;
    height:150px;
    margin:20px;
    border: 5px solid rgb(40, 141, 40);
    border-radius: 10%;
    font-size: 1rem;
}
.button:hover{
    cursor: pointer;
}
.button:active{
    background-color: rgb(199, 199, 199);
}

/*Modals*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);

}
.modal-content{
    background-color: rgb(40, 141, 40);
    margin: auto;
    border: 1px solid #888;
    width: 50vw;
    max-height: 90vh;
    overflow: auto;
}
.close{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 2;
    margin-right: 5px;
}
.close:hover,.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    padding:0.8rem;
}
.modal-content form{
    background-color: #fefefe;
    width:100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: auto;
}
.form-field{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.form-field input{
    width:70%;
}
.submit-button{
    margin: 0 auto;
}
.form-response{
    text-align: center;
    margin: 0 auto;
}

/*Search Form*/
#search-book{
    background-color: white;
}
.book{
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid rgb(90, 90, 90);
    padding: 0.5rem 0;
    display:grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "img name"
    "img author";
    cursor: pointer;
}
.book-image{
    grid-area: img;
    max-width: 150px;
    height:auto;
    padding: 10px;
}
.book-name{
    grid-area: name;
    align-self: center;
    text-align: center;
}
.book-author{
    grid-area: author;
    align-self: center;
    text-align: center;
}
#edit-book{
    background-color: white;
}
.return{
    font-weight: bold;
    font-size: 28px;
    color: #888;
    padding-left: 10px;
}
.return:hover,.return:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width:1000px) {
    #header{
        justify-content: center;
        flex-direction: column;
    }
    #header-logo{
        max-width: 80%;
    }
    #header-title{
        font-size: 6vw;
        text-align: center;
        margin-right: 0;
    }
    .button{
        width: 30vw;
        height: 30vw;
        font-size: 4vw;
    }
    .modal-content{
        width:90%;
    }
    .form-field{
        width:90%;
    }
    
    .modal-title{
        font-size: 5vw;
    }

    #search-form{
        flex-direction: column;
    }
    #search-form *{
        margin-bottom: 0.5rem;
    }
    .book{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}