body{
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
}
#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border: 3px solid black;
}

#title{
    background-color: rgb(40, 141, 40);
    width:200px;
    margin-top: 0;
    text-align: center;
}

#form{
    display: flex;
    flex-direction: column;
}
#form *{
    margin-bottom: 10px;
}