body{
    display: flex;
    flex-direction: column;
    height:100vh;
}
#content-container{
    width:100%;
    flex-grow: 1;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 30%;
    
}
#cart-list{
    border-right: 2px solid black; 
    width:95%;
    padding: 20px 40px 20px 20px;
}

.book-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.book-img{
    width: 150px;
}

.book-data{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex-grow: 1;
}

.book-name{
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
}

.book-author{
    font-family: 'Yaldevi', sans-serif;
    font-size: 1.4vw;
}
.book-id{
    font-size: 1.5vw;
}
.amount-control{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.amount{
    margin: 0 20px;
    font-size: 1.7vw;
    font-weight: bold;
    color:rgb(40, 141, 40);
}
.dec-amount,.inc-amount{
    font-size: 28px;
    font-weight: bold;
    color:rgb(40, 141, 40);
    cursor: pointer;
}
.dec-amount:hover,.inc-amount:hover{
    color: rgb(26, 97, 26)
}
.delete-book{
    font-size: 28px;
    font-weight: bold;
    margin-right: 30px;
    color:red;
    cursor: pointer;
}
.delete-book:hover{
    color:rgb(185, 0, 0);
}

.price{
    align-self:center;
}

#checkout-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
}
#checkout-data{
    font-size: 2vw;
    margin-bottom: 1rem;
}
#checkout-button{
    width:100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: rgb(40, 141, 40);
    font-size: 1rem;
    font-weight: bold;
    color:white;
}
#checkout-button:hover{
    background-color: #1e691e;
}
#checkout-button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);      
}

#checkout-message{
    display: none;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}
#checkout-message-content{
    background-color: white;
    width: fit-content;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
#checkout-message-content *{
    margin: 10px 0;
}
#checkout-message-content h1,#checkout-message-content h2{
    color:rgb(40, 141, 40);
    text-align: center;
}
#checkout-message-content button{
    width:20vw;
    height:4vw;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: rgb(40, 141, 40);
    font-size: 2vw;
}
#checkout-message-content button:hover{
    background-color: #1e691e;
}
#checkout-message-content button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (max-width:1000px){
    #content-container{
        display: flex;
        flex-direction: column;
    }
    #cart-list{
        border: none;
        width:100%;
        padding: 0;
    }
    #books-container{
        width:100%
    }
    .book-container{
        padding:10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .book-name{
        font-size: 5vw;
        text-align: center;
    }
    .book-author{
        font-size: 4vw;
        text-align: center;
        margin: 5px 0;
    }
    .amount-control{
        margin: 10px 0;
    }
    .amount{
        font-size: 6vw;
    }
    #checkout-data{
        font-size: 6vw;
    }
    .book-id{
        font-size: 4vw;
        text-align: center;
    }
}
