<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <title>Itay's Books</title>
</head>
<body>
    <header>{{>header}}</header>
    <div id="books-container"></div>
    <div id="pagintaion-controller">
        <h2 class="pagination-button" id="previous-button">< Previous</h2>
        <h2 id="page-number"></h2>
        <h2 class="pagination-button" id="next-button">Next ></h2>
    </div>
    <footer>{{>footer}}</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>