<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yaldevi:wght@300&display=swap" rel="stylesheet">
    <title>Itay's Books</title>
</head>
<body>
    <header>{{>header}}</header>
    <div id="content-container">
        <div id="cart-list">
            
            <div id="empty-cart-message">
                Your cart is empty! 
            </div>
            
            <div id="books-container">
                {{#each books}}
                    {{>bookDoc}}
                {{/each}}
            </div>
        </div>
        {{#if books}}
        <div id="checkout-area">
            <div id="checkout-data">
                {{totalPrice}}$
            </div>
            <button id="checkout-button">Checkout</button>
        </div>
        {{/if}}
    </div>
    <footer>{{>footer}}</footer>
    <script src="/js/shoppingCart.js"></script>
</body>
</html>