<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminPanel.css">
    <title>Itay's Books - Admin Panel</title>
</head>
<body>
    {{>adminHeader}}
    <div id="buttons">
        <button id="add-admin-button" class="button">Add New Admin</button>
        <button id="edit-book-button" class="button">Edit Books</button>
        <button id="add-new-book-button" class="button">Add A New Book</button>
        <button id="edit-user-button" class="button" style="display: none;">Edit Users</button>
    </div>

    <!--Modals-->
    <!--Add new admin modal-->
    <div id="add-admin-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1 class="modal-title">Add New Admin</h1>
            <form>
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="add-admin-form-email">
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="add-admin-form-password">
                </div>
                <div class="form-field">
                    <button class="submit-button" id="add-admin-submit">Submit</button>
                </div>
                <div class="form-field">
                    <h2 class="form-response" id="add-admin-form-response"></h2>
                </div>
            </form>
        </div>
    </div>

    <div id="edit-book-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1 class="modal-title">Edit Book</h1>
            <div id="search-book">{{>searchBook}}</div>
            <div id="loading-text" hidden><h1>Loading ...</h1></div>
            <div id="edit-book" hidden>
                <span class="return">&#8592;</span>
                <img src="/images/trash.svg" class="delete-svg" id="delete-book">
                <form>
                    <div class="form-field">
                    <label>ID</label>
                    <span id="edit-book-id"></span>
                    </div>
                    {{>bookForm prefix = "edit"}}
                </form>
            </div>
        </div>
    </div>

    <div id="add-new-book-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1 class="modal-title">Add New Book</h1>
            <form>
                {{>bookForm prefix = "add-new"}}
            </form>
        </div>
    </div>

    <div id="edit-user-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/adminPanel.js"></script>
</body>
</html>